body{
    font-family: 'Itim';
    background-color: rgb(211, 211, 211);
    color: rgb(72, 71, 71);

    font-size: 1rem;
    margin: 0 auto;
    display: block;
    padding: 0 var(--spcing-3);
    max-width: 900px;
}

.intro{
    /*  height: 10rem;
     padding-top: 1rem;
     width: 66%;
     background-position: center;
     display: flex; */
     padding: var(--spacing-3) 0;
     display: block;
 }
 .intro h1{
     color: rgb(211, 211, 211);
     font-size: 2rem;
     padding: 2rem;
     background-color: rgb(183,65,14);
     text-align: center;
 }
 .intro-container{
     display: flex;
     
 }
 .intro-text-container{
     margin-right: var(--spacing-3);
     opacity: 0.75;
 }
 
 .portrait{
     width: 18%;
     border-radius: 50%;
     flex-shrink: 0;
     position: absolute;
     z-index: 5;
     right: 4rem;
     top: 2.5rem;
 }

article{
    display: grid;
    grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
    padding: 1 1;
    border: 1px solid rgb(72, 71, 71)
}

article * {
    grid-column: start/end;
    
}
@media (max-width: 8.5in) {
    article{
        grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr ;
    }
}
