body{
    font-family: 'Itim';
    font-size: 1rem;
    margin: 0 auto;
    background-color: rgb(211, 211, 211);
    display: block;
    color: rgb(72, 71, 71);
    padding: 0 var(--spcing-3);
    max-width: 900px;

}
a{
    color: rgb(72, 71, 71);
}
.intro{
   /*  height: 10rem;
    padding-top: 1rem;
    width: 66%;
    background-position: center;
    display: flex; */
    padding: var(--spacing-3) 0;
    display: block;
}
.intro h1{
    color: rgb(211, 211, 211);
    font-size: 1rem;
    padding: 2rem;
    background-color: rgb(183,65,14);
    text-align: center;
}
.intro-container{
    display: flex;
}
.intro-text-container{
    margin-right: var(--spacing-3);
}

.portrait{
    width: 20%;
    border-radius: 2rem;
    flex-shrink: 0;
}
.summary{
    padding: 0 1rem;
}
.summary h2{
    display: block;
    font-size: 1.5rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: rgb(183,65,14);
}
.summary p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.5em;
}
.summary a{
    text-decoration: none;
    color: rgb(72, 71, 71);
    font-weight: bold;
}
.blog{
    text-align: center;
}

.photos img{
    width: 30%;
    margin: 1.5%;
}
.articles {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 1;
    justify-items: center;
   
}
.a{
    grid-area: 1 / 1;
    border: 1px solid rgb(183,65,14);
    height: 5rem;
    width: 15rem;
    text-align: center;
}
.b{
    grid-area: 1 / 2;
    border: 1px solid rgb(183,65,14);
    height: 5rem;
    width: 15rem;
    text-align: center;
}
.c{
    grid-area: 1 / 3;
    border: 1px solid rgb(183,65,14);
    height: 5rem;
    width: 15rem;
    text-align: center;
}
.projects{
    text-align: center;
}